<h2 align="center"> Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2" style="margin-bottom: 100px;">
	<% if @article.user %>
		<ul class="listing">
		 <div class="row ">
		 	<div class="col-md-8 col-md-offset-2">
				<div class="inner">
					<li class="createdby center">Created by:</li>
			 		<div class="user-gravatar float-left">	
				 			<%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
				 	</div>
				 	<div class="float-left">
				 		<li class="username article-title">
				 			<%= link_to @article.user.username, user_path(@article.user) %>
				 		</li>
				 		<li class="user-articles-count">
				 				<small><%= pluralize(@article.user.articles.count, "article")	if @article.user.articles %>	
				 				</small>
				 		</li>
				 	</div>
				 </div>
		 	</div>
		 </div>
		</ul>
	<% end %>
	<h4 class="center description"><strong>Description:</strong></h4>
	<hr>
		<%= @article.description.html_safe %> 
		<% if @article.categories.any? %>
			<p>Categories: <%= render @article.categories %></p>
		<% end %>
	<div class="article-actions">
		<% if logged_in? && (current_user==@article.user || current_user.admin?)%>
			<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
			<%= link_to "Delete this article", article_path(@article), method: :delete, 
				data: {confirm: "Are you sure you want to delete this article?"}, 
				class: "btn btn-xs btn-danger" %>
		<% end %>
		<%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
		<li class="dropdown float-right" style="display: inline;">
          <a href="#" class="dropdown-toggle btn btn-xs btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export to... <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "XML", export_path(:id => @article.id, :format => 'xml') %></li>
            <li><%= link_to "CSV", export_path(:id => @article.id, :format => 'csv') %></li>
          </ul>
        </li>
	</div>
</div>
