$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron h1{
	padding-top: 30%;
}

.jumbotron {
	background-image: asset-url('new_cover_page_2.jpg');
	background-position: center top;
	background-size: cover;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 100%;
	min-height: 500px;
	min-width: 220px;
}

.jumbotron h1 {
	color: #fff;
	border-color: #F2F2F2;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: black;
	border-color: black;
}

.btn-xlarge:hover {

}

footer {
	position: fixed;
	bottom: 0;
	margin: 0 ;
	background-color: #fff;
	width: 90%;
	margin-top: 20px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover{
	color: 222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

.article-meta-details {
	border-top: 1px solid #eaeaea;	
	margin-top: 15px;
	
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description {
	margin-top: 20px;
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.listing {
	list-style: none;
	padding-left: 0;
}

.float-left {
	float: left;

}

.float-right {
	float: right;
}

.user-gravatar{
	margin-right: 10px;
}

.user-articles-count {
	border-top: 1px solid #eaeaea;
}

.username {
	padding-top: 5px;
	padding-bottom: 20px;
}

.inner {
	display: table;
  	margin: 0 auto;
}

.createdby {
	margin-bottom: 10px;
}

.badge {
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input {
	width: auto !important;
}