<div class="container">
	<footer class="footer">
		<small>
			Coypright &copy; <a href="https://www.udemy.com">The Complete Ruby On Rails Developer</a>
			by <a href="https://www.facebook.com/diegoliveiras">Diego Oliveira</a>
		</small>
		<nav>
			<ul> 
				<li><%= link_to "About", about_path %></li>
			</ul>
	</footer>
</div>
