<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>

    <div class="container">

      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <!-- <%= debug(params) if Rails.env.development? %> -->

  </body>
</html>

<%= tinymce %>